{% extends "base.html" %}
{% load staticfiles%}
{% load i18n %}
{% block title %} {{ article.title }} {% endblock %}
{% block SEO %}
      <meta name="description" content="{{ article.text|truncatewords:10 }}">
      <link rel="canonical" href="http://www.bdeveloper.es{%  url 'article_detail_page' username=article.id_user.username title=article.slug %}">
      <meta name="keywords" content="Noticias, IT, Project, Web, Developer, Technology, HTML, js, css, python, node, angular">
      <link rel="alternate" hreflang="es-default" href="http://bdeveloper.es{%  url 'article_detail_page' username=article.id_user.username title=article.slug %}" />
      <meta name="robots" content="index,follow">
      <meta name="author" content="{{ article.id_user.first_name }} {{ article.id_user.last_name }}">
      <meta name="twitter:card" content="Detalle artículo" />
      <meta name="twitter:site" content="@CoderTexts" />
      <meta name="twitter:title" content="{{ article.title }}" />
      <meta name="twitter:description" content="{{ article.title }}. {{ article.text|truncatewords:10 }}" />
      <meta name="twitter:url" content="http://www.bdeveloper.es{%  url 'article_detail_page' username=article.id_user.username title=article.slug %}" />
      <meta property="og:title" content="Por la tecnología" />
      <meta property="og:description" content="{{ article.title }}. {{ article.text|truncatewords:10 }}" />
      <meta property="og:url" content="http://www.bdeveloper.es{%  url 'article_detail_page' username=article.id_user.username title=article.slug %}" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="CoderTexts" />
{% endblock %}

{% block content %}
  <!--Detalle del post-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <span class="inicio" id="bread-0" itemref="bread-1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="http://bdeveloper.es" title="P&aacute;gina de inicio de CoderTexts" itemprop="url"><span itemprop="title">{% trans 'Inicio' %}</span></a> >
          </span>
          <span class="nivel1" id="bread-1" itemref="bread-2" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="http://bdeveloper.es{%  url 'user_articles_page' username=article.id_user.username %}" itemprop="url"><span itemprop="title">{% trans 'Usuario' %} {{ article.id_user.username }}</span></a> >
          </span>
          <span class="nivel2" id="bread-2" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="http://bdeveloper.es{%  url 'article_detail_page' username=article.id_user.username title=article.slug %}" itemprop="url"><span itemprop="title">{% trans 'Artículo' %} {{ article.title }}</span></a>
          </span>
        <div>
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <article class="col-md-12">
        <h1 class="entry__title">
          {{ article.title }}
        </h1>
        <div class="row">
            <div class="entry__date col-md">
              {{ article.pub_date | date:"d/m/Y" }}

                  <span id="favorito" class="botonEstrella">
                    <a href="#"  alt="Agregar a favoritos" ><i class="fa fa-star"></i></a>
                  </span>
            </div>
            <div>
              <p class="s-content__tags">
                <span>{% trans 'Categorías' %}</span>
                <span class="s-content__tag-list">
                    {% for category in article.categories.all %}
                        <a href="{%  url 'category_page' category=category.name %}" title="{{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                </span>
              </p>
            </div>
        </div>
        <div class="row">
          <div class="col">
              {% if article.image %}
              <img style="float:left; padding-right: 20px" src="{{ article.image }}" alt="">
              {% elif article.video %}
              <video width="320" height="240" controls>
                  <source src="{{ article.video }}">
              </video>
              {% endif %}
            <p class="lead">
                {% autoescape off %}
                    {{ article.text }}
                {% endautoescape %}
            </p>
          </div>
          <!--Barra lateral del autor -->
          <div class="col-md-2 s-content__author text-center">
            <div class="">
              <img src="{{ article.id_user.image }}" alt="">
            </div>
            <div class="s-content__author-about">
              <h4 class="s-content__author-name">
                <a href="{%  url 'user_articles_page' username=article.id_user %}">{{ article.id_user.first_name }} {{ article.id_user.last_name }}</a>
                <span class="botonEstrella">
                    <a href="#"  alt="Seguir" ><i class="fa fa-user"></i></a>
                </span>
              </h4>
              <p>
                  {% autoescape off %}
                    {{ article.id_user.about_me }}
                  {% endautoescape %}
              </p>

              <ul class="s-content__author-social">
                <li><a href="https://facebook.com/{{ article.id_user.facebook_user }}"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                <li><a href="https://twitter.com/{{ article.id_user.twitter_user }}"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="https://instagram.com/{{ article.id_user.instagram_user }}"><i class="fa fa-instagram"></i>Instagram</a></li>
              </ul>
            </div>
            <!--Fin Barra lateral del autor -->
          </div>

        </div>
      </article>
        <!-- fin del artículo -->
    </div>
      <div class="container social-media">
          <p>{% trans 'Comparte el artículo' %}</p>
          <div class="row">
            {% load social_share %}
              {% post_to_facebook object_or_url "Facebook" %}
              {% post_to_twitter "Nuevo artículo en Codertexts: {{article.title}}. ¡No te lo pierdas!" object_or_url "Twitter" %}
              {% post_to_linkedin article.title object_or_url "Linkedin" %}
              {% send_email object.title "Codertexts: {{article.title}}." object_or_url "email" %}
          </div>
      </div>
    <!-- bloque de comentarios -->

            <!-- comments
        ================================================== -->
        <div class="comments-wrap">
            <div id="comments" class="row">
              <div class="col-md-12">
                  <h3 class="h2" id="comentarios">{{ comment|length }} {% trans 'Comentarios' %}</h3>
          {% include "comments_list.html" with comments=comment %}
                  </div>
          </div> <!-- end row comments -->

                  <!-- Bloque y formulario para añadir un nuevo comentario
                  ================================================== -->
          {% if user.is_authenticated %}
            {% include "new_comment.html" %}
            {% endif %}
       </div> <!-- end comments-wrap -->
     </div>

{% endblock %}