{%  extends "base.html" %}
{% block SEO %}
      <meta name="description" content="Noticias de las últimas tecnologías. ">
      <link rel="canonical" href="http://bdeveloper.es{%  url 'category_page' category=categoria.name %}">
      <meta name="keywords" content="Noticias, IT, Project, Web, Developer, Technology, HTML, js, css, python, node, angular">
      <link rel="alternate" hreflang="x-default" href="http://bdeveloper.es{%  url 'category_page' category=categoria.name %}" />
      <meta name="robots" content="index,follow">
      <meta name="author" content="Eduardo Aboy, Luis Barriga, Christian Gallego, Javier Lindo, José Luis Pilo">
      <meta name="twitter:card" content="Artículos de la categoría {{ categoria.name }}" />
      <meta name="twitter:site" content="@CoderTexts" />
      <meta name="twitter:title" content="Por la tecnología de la categoría {{ categoria.name }}" />
      <meta name="twitter:description" content="Las últimas noticias tecnológicas de la categoría {{ categoria.name }}" />
      <meta name="twitter:url" content="http://bdeveloper.es{%  url 'category_page' category=categoria.name %}" />
      <meta property="og:title" content="Por la tecnología de la categoría {{ categoria.name }}" />
      <meta property="og:description" content="Las últimas noticias tecnológicas de la categoría {{ categoria.name }}" />
      <meta property="og:url" content="http://bdeveloper.es{%  url 'category_page' category=categoria.name %}" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="CoderTexts" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="inicio" id="bread-0" itemref="bread-1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="http://bdeveloper.es" title="P&aacute;gina de inicio de CoderTexts" itemprop="url"><span itemprop="title">Inicio</span></a> >
                </span>
                <span class="nivel1" id="bread-1" itemref="bread-2" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="http://bdeveloper.es{%  url 'category_page' category=categoria.name %}" itemprop="url"><span itemprop="title">Categoría {{ categoria.name }}</span></a>
                </span>
                <div>
          &nbsp;
                </div>
                <div>
                    <h2 class="heading-title">Artículos de la categoría < {{ categoria }} ></h2>
                </div>
                <form class="customized-select" style="width:200px;" method="POST">
                    <select id="order_list" onchange="changeOrder(this.value)">
                        <option id="opt1" value="">Ordenar</option>
                        <option id="opt2" value="antiguos">Más antiguos: primeros</option>
                        <option id="opt3" value="modernos">Más antiguos: últimos</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">

            {% include "articles_list.html" with articles=category %}

        </div>
        <div>
            {% if page_obj.has_previous %}
            <a href="{% url 'category_page' %}?page={{ page_obj.previous_page_number }}">
                <span>&laquo; Previous</span>
            </a>
            {% else %}
            <span>&laquo; Previous</span>
            {% endif %}

            <span> | </span>

                {% if page_obj.has_next %}
                <a href="{% url 'category_page' %}?page={{ page_obj.next_page_number }}">
                    <span>Next &raquo;</span>
                </a>
                {% else %}
                <span>Next &raquo;</span>
                {% endif %}
        </div>
    </div>

{% endblock %}