{%  extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h4 class="heading-title">Últimos posts</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <h4 class="heading-title">Filtros</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" >
                {% include "articles_list.html" with articles=object_list %}
            </div>
            <div class="col-md-2" >

              <form action="orderList" method="post">
                  <select name="order_list">
                    <option value="0">Ordenar</option>
                      <option value="1">Más antiguos: primero</option>
                    <option value="0">Más antiguos: último</option>
                  </select>
              </form>
            </div>

        </div>
        <div>
            {% if page_obj.has_previous %}
            <a href="{% url 'home_page' %}?page={{ page_obj.previous_page_number }}">
                <span>&laquo; Previous</span>
            </a>
            {% else %}
            <span>&laquo; Previous</span>
            {% endif %}

            <span> | </span>

                {% if page_obj.has_next %}
                <a href="{% url 'home_page' %}?page={{ page_obj.next_page_number }}">
                    <span>Next &raquo;</span>
                </a>
                {% else %}
                <span>Next &raquo;</span>
                {% endif %}
        </div>
    </div>
{% endblock %}