{%  extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if lookup %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2 class="heading-title">{% trans 'Artículos de tu búsqueda' %} < {{ busqueda }} ></h2>
                </div>
                <form class="customized-select" style="width:200px;" method="POST">
                    <select id="order_list" onchange="changeOrder(this.value)">
                        <option id="opt1" value="">{% trans 'Ordenar' %}</option>
                        <option id="opt2" value="antiguos">{% trans 'Más antiguos: primeros' %}</option>
                        <option id="opt3" value="modernos">{% trans 'Más antiguos: últimos' %}</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">

            {% include "articles_list.html" with articles=lookup %}

        </div>
        <div>
            {% if page_obj.has_previous %}
            <a href="{% url 'user_articles_page' %}?page={{ page_obj.previous_page_number }}">
                <span>&laquo; {% trans 'Anterior' %}</span>
            </a>
            {% else %}
            <span>&laquo; {% trans 'Anterior' %}</span>
            {% endif %}

            <span> | </span>

                {% if page_obj.has_next %}
                <a href="{% url 'user_articles_page' %}?page={{ page_obj.next_page_number }}">
                    <span>{% trans 'Siguiente' %} &raquo;</span>
                </a>
                {% else %}
                <span>{% trans 'Siguiente' %} &raquo;</span>
                {% endif %}
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h2 class="heading-title">{% trans 'No existen artículos de tu búsqueda' %} < {{ busqueda }} ></h2>
                    </div>
                </div>
            </div>
        </div>
                    {% endif %}
{% endblock %}