{% load i18n %}
<div class="respond">
    <h3 class="entry__title">{% trans 'Nuevo comentario' %}</h3>
    <form name="formulario" id="formulario" method="post" action="">
        <fieldset>
            <div class="form-field">
                {%  csrf_token %}
                {{ form.as_p }}
            </div>
            <br/>
            <button type="submit" class="submit btn--primary btn--large full-width">{% trans 'Enviar' %}</button>
        </fieldset>
    </form> <!-- end form -->
</div> <!-- end respond -->