{% extends "base.html" %}
{% load i18n %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <h3 class="entry__title">{% trans 'Ingreso de usuario'%}</h3>
                {%  if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <form method="post" novalidate>
                    <fieldset>
                        {% csrf_token %}
                        {{  form.as_p }}
                        <br/>
                        <button type="submit" class="submit btn--primary btn--large full-width" >{% trans 'Entrar' %}</button>
                        <a href="http://www.bdeveloper.es/private/resetPassword">¿Olvidastes tu contraseña?</a>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
{% endblock %}