{% extends 'base.html' %}

{% block title %} Reestrablecimiento de contraseña {% endblock %}

{% block content %}
           <div class="container">
            <div class="row ">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                  {% if validlink %}
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="submit btn--primary btn--large full-width">Cambiar contraseña</button>
                    </form>
                  {% else %}
                    <p>
                      The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.
                    </p>
                  {% endif %}
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
         </div>
{% endblock %}