{% extends "base.html" %}

{% block title %} Reestrablecimiento de contraseña {% endblock %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 text-center">
                <h3 class="entry__title">Verifica tu correo electrónico</h3>
              <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
{% endblock %}