{% extends 'base.html' %}

{% block title %} Reestrablecimiento de contraseña {% endblock %}

{% block content %}
       <div class="container">
            <div class="row ">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <p>
                    Tu nueva contraseña ha sido modificada. Puedes utilizarla desde la pantalla de login.
                      <br/>
                        <button href="http://localhost:4200/" type="button" class="submit btn--primary btn--large full-width">Entrar</button>
                    </p>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
       </div>
{% endblock %}